# Git
.git
.gitignore

# Node
**/node_modules
backend/dist
backend/*.log
backend/.env
backend/.env.local

# Engine build artifacts
engine/build
engine/video_compressor
engine/compressor
engine/encoder
engine/decoder
engine/version_test

# IDE
.vscode
.DS_Store

# Docker
backend/uploads
*.mp4

# Logs
*.log
